openapi: 3.1.0
info:
  title: API Reference aiTaskBuilder API
  version: 1.0.0
servers:
- url: https://api.prolific.com
  description: Production
tags:
- name: aiTaskBuilder
paths:
  /api/v1/data-collection/batches:
    get:
      operationId: get-task-builder-batches
      summary: List Batches
      description: Get all AI Task Builder batches by workspace id
      tags:
      - aiTaskBuilder
      parameters:
      - name: workspace_id
        in: query
        description: The unique identifier of the workspace
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderBatches_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: create-task-builder-batch
      summary: Create a Batch
      description: 'Create a new AI Task Builder batch. The dataset does not need to be in READY status at creation time.


        ### Configurable task layouts via `batch_items`


        You can configure a custom task layout using `batch_items` which also stores instructions and content as part of batch creation. It replaces the deprecated `POST /api/v1/data-collection/batches/{batch_id}/instructions` endpoint, which will reject requests on batches that were created with `batch_items`.


        `batch_items` is a nested layout describing what is shown to participants:


        - `batch_items` is an ordered array of **pages**. Each page is shown to participants as a single screen.

        - Each page has an ordered array of **rows**.

        - Each row has 1 or 2 **columns** rendered side-by-side.

        - Each column has one or more **items** — a dataset field reference, a content block (`image`, `rich_text`), or an instruction (`free_text`, `free_text_with_unit`, `multiple_choice`, `multiple_choice_with_free_text`, `file_upload`).


        Items are a discriminated union on `type`. Each `dataset_field` item references a field in the attached dataset by name — only fields with type `text` or `image_url` are permitted, and the same field may not be referenced more than once on the same page.


        On a successful response, every item in `batch_items` is returned with a server-assigned `id`.


        If `batch_items` fails server-side validation (for example: a `dataset_field` item used when no v4 dataset with a populated schema is attached, an unknown `dataset_field`, the same `dataset_field` referenced more than once on a page, an `answer_limit` larger than the number of options, or a `default_unit` that does not match the supplied `unit_options`), the request fails with **`422 Unprocessable Entity`** and an `INVALID_BATCH_ITEMS` payload containing per-item `page` / `row` / `column` / `item` locations. See the `BatchItemsValidationError` schema for the full shape.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderBatchCreate'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity — `batch_items` failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchItemsValidationError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the batch
                workspace_id:
                  type: string
                  description: The ID of the Prolific workspace
                dataset_id:
                  type: string
                  format: uuid
                  description: The ID of the dataset to attach (optional at creation time)
                task_details:
                  $ref: '#/components/schemas/ApiV1DataCollectionBatchesPostRequestBodyContentApplicationJsonSchemaTaskDetails'
                  description: Task metadata displayed to participants
                batch_items:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/BatchItemsPage'
                  description: 'Inline pages of instructions and content shown to participants. Each entry is a page

                    containing rows of columns of items (dataset field references, content blocks, or

                    instructions). When supplied, this is the recommended way to author instructions —

                    the legacy `POST /batches/{batch_id}/instructions` endpoint is rejected for batches

                    created with `batch_items`.'
              required:
              - name
              - workspace_id
              - task_details
  /api/v1/data-collection/batches/{batch_id}:
    get:
      operationId: get-task-builder-batch
      summary: Get a Batch
      description: Get a specific AI Task Builder batch by its unique identifier.
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the AI Task Builder batch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderBatch'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: update-task-builder-batch
      summary: Update a Batch
      description: 'Update an existing AI Task Builder batch. You can update the name, task details, associated dataset, and/or `batch_items`. The dataset does not need to be in READY status for updates.


        When updating `batch_items`, include the `id` of any existing pages, rows, columns, or items you want to preserve — items without an `id` are treated as new and assigned one server-side. Omitting an existing `id` removes that entry. The same validation rules as on create apply, and validation failures return **`422 Unprocessable Entity`** with the `BatchItemsValidationError` payload.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the batch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderBatch'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Entity — `batch_items` failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchItemsValidationError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                task_details:
                  $ref: '#/components/schemas/ApiV1DataCollectionBatchesBatchIdPatchRequestBodyContentApplicationJsonSchemaTaskDetails'
                dataset_id:
                  type: string
                  format: uuid
                batch_items:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/BatchItemsPage'
                  description: 'Replacement layout for the batch''s instructions and content. Include the `id`

                    of any existing pages, rows, columns, or items you want to preserve; omit `id`

                    to add new entries. Items absent from the payload are removed.'
                auto_sync_enabled:
                  type: boolean
                  description: 'When `true`, datapoints subsequently appended to the batch''s attached dataset

                    (via `POST /datasets/{dataset_id}/datapoints`) automatically trigger a sync that

                    materialises tasks for them — no explicit `POST /batches/{batch_id}/sync` call is

                    needed. When `false`, appended datapoints are only picked up by an explicit

                    sync. If this field is omitted from the PATCH payload, the existing auto-sync

                    setting is left unchanged.'
  /api/v1/data-collection/batches/{batch_id}/sync:
    post:
      operationId: sync-task-builder-batch
      summary: Sync a Batch
      description: 'Triggers an asynchronous sync job that materialises tasks for any datapoints appended to the

        batch''s attached dataset since it was set up (or since the last sync). Returns immediately

        with a `sync_id`; the work is performed by a background worker.


        The batch must be in `READY` status and have an attached dataset. Syncs for the same batch are

        serialised, so a new sync picks up wherever the previous one left off.


        Poll `GET /batches/{batch_id}/syncs/{sync_id}` until the returned job reaches a terminal

        status (`complete` or `failed`).'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the batch to sync
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: 'Sync job accepted and queued. The returned job has status `queued`; poll the sync-status

            endpoint for progress.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/syncs/{sync_id}:
    get:
      operationId: get-batch-sync-status
      summary: Get Batch Sync Status
      description: 'Returns the current status of a batch sync job created by `POST /batches/{batch_id}/sync`.


        A sync job transitions through the following statuses:

        - `queued` — sync accepted, awaiting the background worker.

        - `processing` — the worker is materialising tasks.


        **Terminal statuses:**

        - `complete` — the sync finished. `tasks_created`, `datapoints_processed`, `groups_created`, and `groups_expanded` are populated.

        - `failed` — the sync failed. `reason` is populated.


        Continue polling while the status is `queued` or `processing`.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the batch
        required: true
        schema:
          type: string
          format: uuid
      - name: sync_id
        in: path
        description: The sync job ID returned by `POST /batches/{batch_id}/sync`
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sync job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyncJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Sync job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/status:
    get:
      operationId: get-task-builder-batch-status
      summary: Get Batch Status
      description: Get the current status of an AI Task Builder batch.
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the AI Task Builder batch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderBatchStatus_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/setup:
    post:
      operationId: setup-task-builder-batch
      summary: Setup a Batch
      description: 'The setup process creates all of the **tasks** within the batch according to your configuration.

        Each datapoint in the dataset is paired with all instructions to create a task. Tasks are then organized into task groups.


        **V3 datasets:** The dataset must be in a **READY** status before setup can be initiated.


        **V4 datasets:** The dataset must have at least one import job with status **complete**. V4 datasets do not have a `READY` status — readiness is determined per import job via `GET /datasets/{dataset_id}/imports/{import_id}`.


        The dataset can be attached either at batch creation time or via the `dataset_id` parameter in this request.


        Upon successful invocation, the setup process will begin asynchronously, and the batch will be set to a **PROCESSING** status.


        To retrieve the status of the setup, call the `GET /api/v1/data-collection/batches/{batch_id}/status` endpoint.

        The setup is complete once the batch status changes to **READY**.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the AI Task Builder batch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_SetupTaskBuilderBatch_Response_202'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dataset_id:
                  type: string
                  format: uuid
                  description: The ID of the dataset to use for task generation. Optional if a dataset was already attached at batch creation time.
                tasks_per_group:
                  type: integer
                  default: 1
                  description: 'The number of tasks to randomly assign to each task group. Participants complete one task group per submission.

                    If your dataset includes a META_TASK_GROUP_ID column, those groupings take precedence over this parameter.'
  /api/v1/data-collection/batches/{batch_id}/responses:
    get:
      operationId: get-task-builder-batch-task-responses
      summary: Get Batch Responses
      description: Get responses for an AI Task Builder batch as JSON. Returns individual response records for programmatic processing.
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderBatchTaskResponses_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/report/:
    get:
      operationId: get-task-builder-batch-report
      summary: Get Batch Report
      description: Get a presigned URL to download the batch responses as a CSV report. The CSV contains your original dataset with additional columns for participant responses.
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderBatchReport_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/duplicate:
    post:
      operationId: duplicate-task-builder-batch
      summary: Duplicate a Batch
      description: 'Create a duplicate of an existing AI Task Builder batch. The dataset does not need to be in READY status for duplication. Supports two modes:

        - Duplicate with dataset (default): Creates a copy with the same dataset (the dataset is shared between both batches, not duplicated)

        - Duplicate without dataset: Creates a copy that requires a new dataset upload (set upload_new_dataset to true)


        You can optionally provide a new name for the duplicated batch. If no name is provided, the duplicate will be named "[Original Batch Name] (Copy)".'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the batch to duplicate
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderBatchCreate'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Optional name for the duplicated batch. If not provided, a default name will be generated.
                upload_new_dataset:
                  type: boolean
                  default: false
                  description: If true, creates the batch without copying the dataset (user must upload a new one). If false or omitted, duplicates with the existing dataset.
  /api/v1/data-collection/batches/{batch_id}/export:
    post:
      operationId: request-batch-export
      summary: Request a Batch Export
      description: 'Initiates an asynchronous export of all participant responses and uploaded files for a batch as a ZIP archive.


        The export is generated out-of-band to handle large batches without hitting API timeout limits. The endpoint returns immediately with one of two outcomes:


        - **202 Accepted** — a new export job has been enqueued. Use the returned `export_id` to poll `GET /batches/{batch_id}/export/{export_id}` for status.

        - **200 OK** — a recent export already exists and is ready to download immediately.


        Subsequent POST requests for the same batch are idempotent while an export is generating or complete; they return the existing job ID or download URL rather than re-triggering generation.


        Only researchers with workspace access to the batch can request an export.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Export already complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExportComplete'
        '403':
          description: Forbidden — user does not have workspace access to this batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/export/{export_id}:
    get:
      operationId: get-batch-export-status
      summary: Get Batch Export Status
      description: 'Polls the status of an asynchronous batch export job initiated by `POST /batches/{batch_id}/export`.


        Returns the current status of the export:


        - **generating** — the export is still being built; continue polling.

        - **complete** — the export is ready; a presigned HTTPS download URL is included. URLs are valid for 1 hour and are automatically refreshed if expired.

        - **failed** — generation failed (e.g. the archive was deleted from storage). Re-send `POST /batches/{batch_id}/export` to retry.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        required: true
        schema:
          type: string
      - name: export_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchExportStatus'
        '404':
          description: Export job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/datasets:
    post:
      operationId: create-task-builder-dataset
      summary: Create a Dataset
      description: 'Create a new AI Task Builder dataset.


        Pass an optional `schema` to create a **V4 dataset** with a structured schema. V4 datasets accept JSONL and CSV uploads, track each upload as an import job, and allow `dataset_field` items in `batch_items` to reference named schema fields. Without a `schema`, a V3 dataset is created (CSV/ZIP only, legacy flow).


        V4 dataset creation requires the feature to be enabled for the workspace.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderDataset'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name or identifier of the AI Task Builder dataset.
                workspace_id:
                  type: string
                  description: The ID of the Prolific workspace the dataset will be created in.
                schema:
                  $ref: '#/components/schemas/DatasetSchema'
                  description: Optional schema definition. When provided, a V4 dataset is created. Omit for a V3 dataset.
              required:
              - name
              - workspace_id
  /api/v1/data-collection/datasets/{dataset_id}:
    get:
      operationId: get-task-builder-dataset
      summary: Get a Dataset
      description: 'Get a specific AI Task Builder dataset by its unique identifier.


        For **V4 datasets**, the response includes the dataset `schema` (if one has been set) and an `imports` array listing all import jobs for this dataset.


        For **V3 datasets**, the response includes `status`, `filename`, and `has_predetermined_grouping_id` instead.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the AI Task Builder dataset
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AITaskBuilderDataset'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: update-task-builder-dataset
      summary: Update a Dataset Schema
      description: 'Updates the schema of an existing **V4 dataset**. Each successful update writes a new schema

        version.


        **Schema migration.** If the dataset already had a schema, changing it starts an asynchronous

        **schema migration** that re-normalises the dataset''s existing datapoints against the new

        version. In that case the response includes a `migration_job_id`; poll

        `GET /datasets/{dataset_id}/schema-migrations/{job_id}` with it until the job reaches a

        terminal status. When this is the dataset''s **first** schema, no migration is needed and

        `migration_job_id` is omitted.


        **Constraints:**

        - V4 datasets only — a `400` is returned for V3 datasets.

        - The `task_group_id` column designation cannot be changed once the dataset has datapoints; attempting to do so returns `400`.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the V4 dataset to update
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Dataset updated. Returns the updated dataset. When the update triggered a schema

            migration, `migration_job_id` is present — poll the schema-migration endpoint with it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_UpdateTaskBuilderDataset_Response_200'
        '400':
          description: 'Bad request — not a V4 dataset, or an attempt to change the `task_group_id` column on a

            dataset that already has datapoints.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — the user does not have access to the dataset's workspace.
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                schema:
                  $ref: '#/components/schemas/DatasetSchema'
                  description: The new schema definition for the dataset.
              required:
              - schema
  /api/v1/data-collection/datasets/{dataset_id}/upload-url/{filename}:
    get:
      operationId: get-dataset-upload-url
      summary: Get Dataset Upload URL
      description: 'Generates a presigned S3 URL for uploading a file to the dataset. Use the returned URL to PUT the file directly to S3.


        **V3 datasets** (CSV/ZIP): returns `upload_url` and `http_method`. After the upload completes, poll `GET /datasets/{dataset_id}/status` for processing status.


        **V4 datasets** (JSONL/CSV): additionally returns `import_id`. After the upload completes, poll `GET /datasets/{dataset_id}/imports/{import_id}` for per-upload status. Multiple upload URLs can be requested before any upload completes — each creates a distinct import job and S3 key.


        Supported file types:

        - V3: `.csv`, `.zip`

        - V4: `.csv`, `.jsonl`'
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The ID of the dataset to upload files to
        required: true
        schema:
          type: string
      - name: filename
        in: path
        description: The name of the file to upload (e.g. `data.jsonl`)
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_getDatasetUploadUrl_Response_201'
        '400':
          description: Bad request (e.g., unsupported file type for this dataset version)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden (e.g., user does not have access to the workspace)
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                description: Any type
  /api/v1/data-collection/datasets/{dataset_id}/imports/{import_id}:
    get:
      operationId: get-dataset-import-status
      summary: Get Dataset Import Status
      description: 'Returns the current status of a V4 dataset import job. Each import job represents one ingestion operation and transitions through the following statuses:

        - `uninitialised` — Presigned url requested, but not yet used

        - `processing` — Datapoints received for ingestion, work underway

        - `queued` — Datapoints received for ingestion, awaiting a previous import job to complete before processing can commence


        **Terminal statuses:**

        - `complete` — all records were accepted. `accepted_count` is populated.

        - `partial` — some records were accepted and some rejected. `accepted_count`, `rejected_count`, and `errors` are populated. The accepted records are available for use.

        - `failed` — extraction failed entirely (e.g. file could not be parsed). `reason` is populated. No records were ingested.

        - `pending_schema` — the dataset has no schema set; upload is paused until a schema is defined.


        Continue polling while the status is `uninitialised`, `queued`, or `processing`.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the dataset
        required: true
        schema:
          type: string
          format: uuid
      - name: import_id
        in: path
        description: The import job ID returned by `GET /datasets/{dataset_id}/upload-url/{filename}`
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Import job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetImportJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Import job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/datasets/{dataset_id}/datapoints:
    post:
      operationId: append-dataset-datapoints
      summary: Append Datapoints to a Dataset
      description: 'Synchronously appends one or more JSONL records to an existing **V4 dataset**. Unlike the

        file-upload flow, this endpoint processes the whole payload within the request and returns the

        accepted/rejected counts directly — there is no async import job to poll.


        **Request body:** JSONL — one JSON object per line — sent with a JSONL content type

        (e.g. `application/x-ndjson`). Blank lines are skipped. CSV is not supported on this endpoint.


        Each record is validated against the dataset''s current schema. Valid records are persisted as

        datapoints and sort after every existing datapoint. Records that are malformed or violate the

        schema are rejected individually and reported in `errors` — they do not fail the whole request.

        Re-appending an identical record is idempotent (counted as accepted, not written twice).


        **Limits and preconditions:**

        - At most 1000 records per request. Larger imports should use the file-upload flow.

        - The dataset must be V4 and have a schema defined.

        - Rejected with `409 Conflict` while a dataset import or a schema migration is in progress.


        If the dataset is attached to any batches with `auto_sync_enabled`, a sync is triggered

        automatically for the newly written datapoints.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the V4 dataset to append to
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Append processed. Returns per-request accepted/rejected counts. A `200` is returned even

            when some (or all) records were rejected — inspect `rejected` and `errors`.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetAppendResult'
        '400':
          description: 'Bad request — missing body, CSV payload, empty JSONL, too many records, a non-V4 dataset,

            or a dataset with no schema.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — the user does not have access to the dataset's workspace.
          content:
            application/json:
              schema:
                description: Any type
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict — a dataset import or a schema migration is in progress. Retry once it completes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: string
  /api/v1/data-collection/datasets/{dataset_id}/schema-migrations/{job_id}:
    get:
      operationId: get-schema-migration-status
      summary: Get Schema Migration Status
      description: "Returns the current status of a schema migration job, which reprocesses a V4 dataset's\ndatapoints against a newer schema version.\n\nA migration job has these statuses:\n- `processing` — the migration is underway.\n\n**Terminal statuses:**\n- `complete` — all datapoints were reprocessed. `reprocessed_count` is populated.\n- `partial` — some datapoints were reprocessed and some fields could not be re-normalised (and\n  were nulled). `reprocessed_count`, `failed_count`, and `errors` are populated.\n- `failed` — the migration failed entirely. `reason` is populated.\n\nContinue polling while the status is `processing`."
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the dataset
        required: true
        schema:
          type: string
          format: uuid
      - name: job_id
        in: path
        description: The schema migration job ID
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Schema migration job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaMigrationJob'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Schema migration job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/datasets/{dataset_id}/status:
    get:
      operationId: get-task-builder-dataset-status
      summary: Get Dataset Status
      description: Get status for AI Task Builder dataset.
      tags:
      - aiTaskBuilder
      parameters:
      - name: dataset_id
        in: path
        description: The unique identifier of the AI Task Builder dataset
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderDatasetStatus_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/batches/{batch_id}/instructions:
    get:
      operationId: get-task-builder-instructions
      summary: Get Batch Instructions
      description: 'Get the instructions for an AI Task Builder batch.


        <Error title="Important">


        **Deprecated.**


        All responses include the [RFC 8594](https://www.rfc-editor.org/rfc/rfc8594) headers `Deprecation: true` and `Sunset: Tue, 01 Sep 2026 23:59:59 GMT`. Migrate to the `batch_items` flow before the sunset date.


        </Error>'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: Batch ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetTaskBuilderInstructions_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: create-task-builder-instructions
      summary: Create Batch Instructions
      description: 'Create instructions for a Task Builder batch.


        <Error title="Important">


        **Deprecated for batches that use `batch_items`.**


        All responses include the [RFC 8594](https://www.rfc-editor.org/rfc/rfc8594) headers `Deprecation: true` and `Sunset: Tue, 01 Sep 2026 23:59:59 GMT`.


        If the target batch was created with `batch_items` (the per-item instructions flow), this endpoint will respond with **`422 Unprocessable Entity`** and an error message directing you to manage instructions via the `batch_items` payload instead.


        Legacy batches (where `batch_items` is `null`) continue to work and return `201 Created`.


        </Error>'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: The unique identifier of the AI Task Builder batch
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created. Returned only for legacy batches (`batch_items` is `null`).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AITaskBuilderInstruction'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Returned when the target batch uses `batch_items`. Instructions must be managed via the `batch_items` payload instead of this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instructions:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiV1DataCollectionBatchesBatchIdInstructionsPostRequestBodyContentApplicationJsonSchemaInstructionsItems'
                  description: The instructions to create for the AI Task Builder batch.
              required:
              - instructions
    put:
      operationId: update-task-builder-instructions
      summary: Update Batch Instructions
      description: 'Updates the instructions for a task builder batch. This is a full replacement - all instructions must be included in the request.


        Include the `id` field for existing instructions you want to preserve. Instructions without an `id` will be created as new.


        <Error title="Important">


        **Deprecated for batches that use `batch_items`.**


        If the target batch was created with `batch_items` (the per-item instructions flow), this endpoint will respond with **`422 Unprocessable Entity`** and an error message directing you to manage instructions via the `batch_items` payload instead.


        The response will also include the [RFC 8594](https://www.rfc-editor.org/rfc/rfc8594) headers `Deprecation: true` and `Sunset: Tue, 01 Sep 2026 23:59:59 GMT`. Legacy batches (where `batch_items` is `null`) are unaffected and continue to work as before.


        </Error>'
      tags:
      - aiTaskBuilder
      parameters:
      - name: batch_id
        in: path
        description: Batch ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated. Returned only for legacy batches (`batch_items` is `null`).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AITaskBuilderInstruction'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Returned when the target batch uses `batch_items`. Instructions must be managed via the `batch_items` payload instead of this endpoint.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                instructions:
                  type: array
                  items:
                    $ref: '#/components/schemas/ApiV1DataCollectionBatchesBatchIdInstructionsPutRequestBodyContentApplicationJsonSchemaInstructionsItems'
                  description: The instructions for the batch.
              required:
              - instructions
  /api/v1/data-collection/collections:
    get:
      operationId: list-collections
      summary: List Collections
      description: Get all AI Task Builder Collections for a workspace.
      tags:
      - aiTaskBuilder
      parameters:
      - name: workspace_id
        in: query
        description: The unique identifier of the workspace
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_ListCollections_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: create-collection
      summary: Create a Collection
      description: 'Create a new AI Task Builder Collection. Collections allow you to define static content and instructions without requiring a dataset upload.


        Unlike Batches, Collections do not require a dataset or setup step — they can be published to a study immediately after creation.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
  /api/v1/data-collection/collections/{collection_id}:
    get:
      operationId: get-collection
      summary: Get a Collection
      description: Get a specific AI Task Builder Collection by its unique identifier.
      tags:
      - aiTaskBuilder
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: update-collection
      summary: Update a Collection
      description: 'Update an existing AI Task Builder Collection. This is a full replacement — all fields must be provided.


        To preserve existing entities (collection items, page items) when updating, include their `id` fields in the request. Entities without IDs will be created as new, and existing entities not included in the request will be deleted.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
  /api/v1/data-collection/collections/{collection_id}/responses:
    get:
      operationId: get-collection-responses
      summary: Get Collection Responses
      description: 'Get responses for an AI Task Builder Collection.


        **Note:** This endpoint is coming soon and is not yet available.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AI Task Builder_GetCollectionResponses_Response_200'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/collections/{collection_id}/export:
    post:
      operationId: request-collection-export
      summary: Request a Collection Export
      description: 'Initiates an asynchronous export of all participant responses and uploaded files for a collection as a ZIP archive.


        The export is generated out-of-band to handle large collections without hitting API timeout limits. The endpoint returns immediately with one of two outcomes:


        - **202 Accepted** — a new export job has been enqueued. Use the returned `export_id` to poll `GET /collections/{collection_id}/export/{export_id}` for status.

        - **200 OK** — a recent export already exists and is ready to download immediately.


        Subsequent POST requests for the same collection are idempotent while an export is generating or complete; they return the existing job ID or download URL rather than re-triggering generation.


        Only researchers with workspace access to the collection can request an export.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Export already complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionExportComplete'
        '403':
          description: Forbidden — user does not have workspace access to this collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/data-collection/collections/{collection_id}/export/{export_id}:
    get:
      operationId: get-collection-export-status
      summary: Get Collection Export Status
      description: 'Polls the status of an asynchronous collection export job initiated by `POST /collections/{collection_id}/export`.


        Returns the current status of the export:


        - **generating** — the export is still being built; continue polling.

        - **complete** — the export is ready; a presigned HTTPS download URL is included. URLs are valid for 1 hour and are automatically refreshed if expired.

        - **failed** — generation failed (e.g. the archive was deleted from storage). Re-send `POST /collections/{collection_id}/export` to retry.'
      tags:
      - aiTaskBuilder
      parameters:
      - name: collection_id
        in: path
        required: true
        schema:
          type: string
      - name: export_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'The Prolific API uses API token to authenticate requests. You can create an API token directly from your settings.


          Your API token does not have an expiry date and carries full permission, so be sure to keep them secure.


          If your token is leaked, delete it and create a new one directly in the app.


          In your requests add `Authorization` header with the value `Token <your token>`.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Export status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionExportStatus'
        '404':
          description: Export job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CollectionSchemaVersion:
      type: string
      enum:
      - '1'
      title: CollectionSchemaVersion
    CollectionInstructionInputUnitOptionsItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      title: CollectionInstructionInputUnitOptionsItemsValue
    AiTaskBuilderMultipleChoiceInstructionType:
      type: string
      enum:
      - multiple_choice
      title: AiTaskBuilderMultipleChoiceInstructionType
    DatasetSchemaFieldType:
      type: string
      enum:
      - text
      - image_url
      - metadata
      - task_group_id
      description: 'Field type:

        - `text` — a text value shown to participants. Can be referenced by `dataset_field` items in `batch_items`.

        - `image_url` — a URL pointing to an image shown to participants. Can be referenced by `dataset_field` items in `batch_items`.

        - `metadata` — an internal value included in exports but not shown to participants (equivalent to the `META_` prefix in V3 CSV datasets).

        - `task_group_id` — groups datapoints into task groups. Rows with the same `task_group_id` value are assigned to the same participant. Equivalent to `META_TASK_GROUP_ID` in V3 CSV datasets. At most one field per schema may have this type.'
      title: DatasetSchemaFieldType
    BatchExportStatusOneOf2Status:
      type: string
      enum:
      - failed
      title: BatchExportStatusOneOf2Status
    ApiV1DataCollectionDatasetsDatasetIdPatchResponsesContentApplicationJsonSchemaStatus:
      type: string
      enum:
      - ERROR
      - PROCESSING
      - READY
      - UNINITIALISED
      description: Processing status. **V3 datasets only.** V4 datasets track status per import job via `imports`.
      title: ApiV1DataCollectionDatasetsDatasetIdPatchResponsesContentApplicationJsonSchemaStatus
    AiTaskBuilderDatasetSchemaVersion:
      type: string
      enum:
      - '3'
      - '4'
      description: Internal dataset version. 3 = legacy CSV/ZIP; 4 = structured schema with JSONL/CSV import tracking.
      title: AiTaskBuilderDatasetSchemaVersion
    AiTaskBuilderMultipleChoiceInstructionOptionsItems:
      type: object
      properties:
        label:
          type: string
          description: Display text shown to participants
        value:
          $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceInstructionOptionsItemsValue'
          description: Value returned in responses
        exclusive:
          type: boolean
          description: When true, selecting this option deselects all other options. Useful for "None of the above" style options.
      required:
      - label
      - value
      title: AiTaskBuilderMultipleChoiceInstructionOptionsItems
    BatchItemsImageBlockType:
      type: string
      enum:
      - image
      title: BatchItemsImageBlockType
    CollectionResponseResponseAnswerItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      title: CollectionResponseResponseAnswerItemsValue
    AiTaskBuilderFreeTextWithUnitInstructionUnitOptionsItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      description: Value returned in responses
      title: AiTaskBuilderFreeTextWithUnitInstructionUnitOptionsItemsValue
    DatasetImportJobType:
      type: string
      enum:
      - file_upload
      description: The type of import. Currently always `file_upload`.
      title: DatasetImportJobType
    CollectionItemInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Include to preserve an existing page when updating
        page_items:
          type: array
          items:
            $ref: '#/components/schemas/PageItemInput'
          description: Instructions and content blocks on this page
      required:
      - page_items
      description: A page within a collection. Include `id` to preserve an existing page when updating.
      title: CollectionItemInput
    Collection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        schema_version:
          $ref: '#/components/schemas/CollectionSchemaVersion'
        created_at:
          type: string
          format: date-time
          description: ISO-8601 formatted creation timestamp in UTC
        created_by:
          type: string
          description: User ID of the Prolific user that created the collection
        workspace_id:
          type: string
          description: The ID of the Prolific workspace
        name:
          type: string
          description: The name of the collection
        task_details:
          $ref: '#/components/schemas/TaskDetails'
        collection_items:
          type: array
          items:
            $ref: '#/components/schemas/CollectionItem'
          description: Pages within the collection. Each collection item represents a page.
        last_modified_at:
          type: string
          format: date-time
          description: ISO-8601 formatted last modification timestamp in UTC
        last_modified_by:
          type: string
          description: User ID of the Prolific user that last modified the collection
      required:
      - id
      - schema_version
      - created_at
      - created_by
      - workspace_id
      - name
      - task_details
      - collection_items
      title: Collection
    ApiV1DataCollectionBatchesBatchIdInstructionsPostRequestBodyContentApplicationJsonSchemaInstructionsItemsUnitPosition:
      type: string
      enum:
      - prefix
      - suffix
      description: Required for free_text_with_unit. Position of the unit selector relative to the text input. Use 'prefix' for units before the input (e.g., currency symbols) or 'suffix' for units after the input (e.g., measurements).
      title: ApiV1DataCollectionBatchesBatchIdInstructionsPostRequestBodyContentApplicationJsonSchemaInstructionsItemsUnitPosition
    CollectionMultipleChoiceInstructionOptionsItemsValue:
      oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      title: CollectionMultipleChoiceInstructionOptionsItemsValue
    AiTaskBuilderFreeTextInputInstructionType:
      type: string
      enum:
      - free_text
      title: AiTaskBuilderFreeTextInputInstructionType
    CollectionFreeTextWithUnitInstructionParentType:
      type: string
      enum:
      - batch
      - collection
      title: CollectionFreeTextWithUnitInstructionParentType
    DatasetImportJob:
      type: object
      properties:
        dataset_id:
          type: string
          format: uuid
          description: The dataset this import job belongs to.
        import_id:
          type: string
          format: uuid
          description: The unique identifier of the import job.
        type:
          $ref: '#/components/schemas/DatasetImportJobType'
          description: The type of import. Currently always `file_upload`.
        filename:
          type:
          - string
          - 'null'
          description: The original filename supplied when the upload URL was requested.
        created_at:
          type: string
          format: date-time
          description: When the import job was created (ISO 8601, UTC).
        updated_at:
          type: string
          format: date-time
          description: When the import job was last updated (ISO 8601, UTC).
        status:
          $ref: '#/components/schemas/DatasetImportJobStatus'
          description: Current status of the import job.
        accepted_count:
          type: integer
          description: Number of records successfully ingested. Present when status is `complete` or `partial`.
        rejected_count:
          type: integer
          description: Number of records rejected. Present when status is `partial`.
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ImportJobError'
          description: Record-level validation errors. Present when status is `partial`.
        reason:
          type: string
          description: Human-readable reason for failure. Present when status is `failed`.
      required:
      - dataset_id
      - import_id
      - type
      - created_at
      - updated_at
      - status
      description: 'Tracks the lifecycle of a single file upload to a V4 dataset.


        An import job is created when `GET /datasets/{dataset_id}/upload-url/{filename}` is called. It transitions through the following statuses:


        | Status | Meaning |

        |---|---|

        | `uninitialised` | Import job created; file not yet uploaded to S3 |

        | `queued` | File uploaded; queued for extraction |

        | `processing` | Extraction in progress |

        | `complete` | All records accepted |

        | `partial` | Some records accepted, some rejected — see `errors` |

        | `failed` | Extraction failed entirely — see `reason` |

        | `pending_schema` | Dataset has no schema; upload paused until schema is set |


        Poll `GET /datasets/{dataset_id}/imports/{import_id}` until a terminal status is reached (`complete`, `partial`, `failed`, or `pending_schema`).'
      title: DatasetImportJob
    CollectionFreeTextWithUnitInstructionUnitPosition:
      type: string
      enum:
      - prefix
      - suffix
      description: Position of the unit selector relative to the text input. Use 'prefix' for units before the input (e.g., currency symbols) or 'suffix' for units after the input (e.g., measurements).
      title: CollectionFreeTextWithUnitInstructionUnitPosition
    BatchItemsMultipleChoiceWithFreeTextInstructionType:
      type: string
      enum:
      - multiple_choice_with_free_text
      title: BatchItemsMultipleChoiceWithFreeTextInstructionType
    BatchItemsFileUploadInstructionType:
      type: string
      enum:
      - file_upload
      title: BatchItemsFileUploadInstructionType
    BatchItemsFreeTextWithUnitInstructionUnitPosition:
      type: string
      enum:
      - prefix
      - suffix
      description: Position of the unit selector relative to the text input.
      title: BatchItemsFreeTextWithUnitInstructionUnitPosition
    CollectionMultipleChoiceWithFreeTextInstructionOptionsItems:
      type: object
      properties:
        label:
          type: string
        value:
          $ref: '#/components/schemas/CollectionMultipleChoiceWithFreeTextInstructionOptionsItemsValue'
        heading:
          type: string
        exclusive:
          type: boolean
          description: When true, selecting this option deselects all other options. Useful for "None of the above" style options.
      required:
      - label
      - value
      - heading
      title: CollectionMultipleChoiceWithFreeTextInstructionOptionsItems
    BatchItemsMultipleChoiceInstructionType:
      type: string
      enum:
      - multiple_choice
      title: BatchItemsMultipleChoiceInstructionType
    AI Task Builder_SetupTaskBuilderBatch_Response_202:
      type: object
      properties: {}
      description: Empty response body
      title: AI Task Builder_SetupTaskBuilderBatch_Response_202
    ApiV1DataCollectionBatchesBatchIdInstructionsPutRequestBodyContentApplicationJsonSchemaInstructionsItemsType:
      type: string
      enum:
      - multiple_choice
      - free_text
      - free_text_with_unit
      - multiple_choice_with_free_text
      - file_upload
      description: The type of instruction.
      title: ApiV1DataCollectionBatchesBatchIdInstructionsPutRequestBodyContentApplicationJsonSchemaInstructionsItemsType
    AITaskBuilderInstruction:
      oneOf:
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceInstructionType'
          id:
            type: string
            format: uuid
          created_at:
            type: string
            format: date-time
          parent_id:
            type: string
            format: uuid
            description: ID of the parent batch or collection
          parent_type:
            $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceInstructionParentType'
          created_by:
            type: string
          description:
            type: string
            description: The question or prompt displayed to participants
          helper_text:
            type: string
            description: Additional guidance text displayed below the question
          placeholder_text_input:
            type: string
            description: Placeholder text displayed in the input field
          answer_limit:
            type: integer
            description: Number of options that can be selected. Use 1 for single-select, -1 for unlimited, or any number up to the total options.
          disable_dropdown:
            type: boolean
            default: false
            description: When true, always renders checkbox/radio elements instead of a dropdown select, regardless of option count. By default, a dropdown is used when there are 5 or more options.
          options:
            type: array
            items:
              $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceInstructionOptionsItems'
        required:
        - type
        - id
        - created_at
        - parent_id
        - parent_type
        - created_by
        - description
        - answer_limit
        - options
        description: multiple_choice variant
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AiTaskBuilderFreeTextInputInstructionType'
          id:
            type: string
            format: uuid
          created_at:
            type: string
            format: date-time
          parent_id:
            type: string
            format: uuid
            description: ID of the parent batch or collection
          parent_type:
            $ref: '#/components/schemas/AiTaskBuilderFreeTextInputInstructionParentType'
          created_by:
            type: string
          description:
            type: string
            description: The question or prompt displayed to participants
          helper_text:
            type: string
            description: Additional guidance text displayed below the question
          placeholder_text_input:
            type: string
            description: Placeholder text displayed in the input field
          validation:
            $ref: '#/components/schemas/ValidationRule'
            description: Optional validation constraints for the input value
        required:
        - type
        - id
        - created_at
        - parent_id
        - parent_type
        - created_by
        - description
        description: free_text variant
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AiTaskBuilderFreeTextWithUnitInstructionType'
          id:
            type: string
            format: uuid
          created_at:
            type: string
            format: date-time
          parent_id:
            type: string
            format: uuid
            description: ID of the parent batch or collection
          parent_type:
            $ref: '#/components/schemas/AiTaskBuilderFreeTextWithUnitInstructionParentType'
          created_by:
            type: string
          description:
            type: string
            description: The question or prompt displayed to participants
          helper_text:
            type: string
            description: Additional guidance text displayed below the question
          placeholder_text_input:
            type: string
            description: Placeholder text displayed in the input field
          unit_options:
            type: array
            items:
              $ref: '#/components/schemas/AiTaskBuilderFreeTextWithUnitInstructionUnitOptionsItems'
            description: List of available units that participants can select from
          default_unit:
            type: string
            description: Default selected unit (must match a value from unit_options)
          unit_position:
            $ref: '#/components/schemas/AiTaskBuilderFreeTextWithUnitInstructionUnitPosition'
            description: Position of the unit selector relative to the text input. Use 'prefix' for units before the input (e.g., currency symbols) or 'suffix' for units after the input (e.g., measurements).
        required:
        - type
        - id
        - created_at
        - parent_id
        - parent_type
        - created_by
        - description
        - unit_options
        - unit_position
        description: free_text_with_unit variant
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceWithFreeTextInstructionType'
          id:
            type: string
            format: uuid
          created_at:
            type: string
            format: date-time
          parent_id:
            type: string
            format: uuid
            description: ID of the parent batch or collection
          parent_type:
            $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceWithFreeTextInstructionParentType'
          created_by:
            type: string
          description:
            type: string
            description: The question or prompt displayed to participants
          helper_text:
            type: string
            description: Additional guidance text displayed below the question
          placeholder_text_input:
            type: string
            description: Placeholder text displayed in the input field
          answer_limit:
            type: integer
            description: Number of options that can be selected. Use 1 for single-select, -1 for unlimited, or any number up to the total options.
          disable_dropdown:
            type: boolean
            default: false
            description: When true, always renders checkbox/radio elements instead of a dropdown select, regardless of option count. By default, a dropdown is used when there are 5 or more options.
          options:
            type: array
            items:
              $ref: '#/components/schemas/AiTaskBuilderMultipleChoiceWithFreeTextInstructionOptionsItems'
        required:
        - type
        - id
        - created_at
        - parent_id
        - parent_type
        - created_by
        - description
        - answer_limit
        - options
        description: multiple_choice_with_free_text variant
      - type: object
        properties:
          type:
            $ref: '#/components/schemas/AiTaskBuilderFileUploadInstructionType'
          id:
            type: string
            format: uuid
          created_at:
            type: string
            format: date-time
          parent_id:
            type: string
            format: uuid
            description: ID of the parent batch or collection
          parent_type:
            $ref: '#/components/schemas/AiTaskBuilderFileUploadInstructionParentType'
          created_by:
            type: string
          description:
            type: string
            description: The prompt describing what to upload
          helper_text:
            type: string
            description: Additional guidance text displayed below the question
          placeholder_text_input:
            type: string
            description: Placeholder text displayed in the input field
          accepted_file_types:
            type: array
            items:
              type: string
            description: File extensions to accept (e.g., [".jpg", ".png", ".pdf"]). Each extension must start with a dot. Defaults to [".jpg", ".jpeg", ".png", ".heic", ".heif"] if not specified.
          max_file_size_mb:
            type: number
            format: double
            description: Maximum file size in megabytes per file. Must be a positive number. Defaults to 25.
          min_file_count:
            type: integer
            description: Minimum number of files required. Must be at least 1. Defaults to 1.
          max_file_count:
            type: integer
            description: Maximum number of files allowed. Must be at least 1 and greater than or equal to min_file_count. Defaults to 10.
        required:
        - type
        - id
        - created_at
        - parent_id
        - parent_type
        - created_by
        - description
        description: file_upload variant
      discriminator:
        propertyName: type
      title: AITaskBuilderInstruction
    ApiV1DataCollectionBatchesGetResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of batches
      title: ApiV1DataCollectionBatchesGetResponsesContentApplicationJsonSchemaMeta
    CollectionResponseResponseType:
      type: string
      enum:
      - multiple_choice
      - free_text
      - free_text_with_unit
      - multiple_choice_with_free_text
      - file_upload
      title: CollectionResponseResponseType
    ApiV1DataCollectionBatchesBatchIdResponsesGetResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of responses
      title: ApiV1DataCollectionBatchesBatchIdResponsesGetResponsesContentApplicationJsonSchemaMeta
    CollectionMultipleChoiceWithFreeTextInstructionType:
      type: string
      enum:
      - multiple_choice_with_free_text
      title: CollectionMultipleChoiceWithFreeTextInstructionType
    CollectionExportStatus2:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/CollectionExportStatusOneOf2Status'
      required:
      - status
      description: An export job that failed to generate, or whose archive has since been deleted. Re-send `POST /collections/{collection_id}/export` to retry.
      title: CollectionExportStatus2
    AI Task Builder_UpdateTaskBuilderDataset_Response_200:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        workspace_id:
          type: string
        total_datapoint_count:
          type: integer
        schema_version:
          $ref: '#/components/schemas/ApiV1DataCollectionDatasetsDatasetIdPatchResponsesContentApplicationJsonSchemaSchemaVersion'
          description: Internal dataset version. 3 = legacy CSV/ZIP; 4 = structured schema with JSONL/CSV import tracking.
        status:
          $ref: '#/components/schemas/ApiV1DataCollectionDatasetsDatasetIdPatchResponsesContentApplicationJsonSchemaStatus'
          description: Processing status. **V3 datasets only.** V4 datasets track status per import job via `imports`.
        filename:
          type:
          - string
          - 'null'
          description: Filename of the uploaded data file. **V3 datasets only.**
        has_predetermined_grouping_id:
          type:
          - boolean
          - 'null'
          description: Whether the dataset contains a `META_TASK_GROUP_ID` column. **V3 datasets only.**
        schema:
          oneOf:
          - $ref: '#/components/schemas/DatasetSchema'
          - type: 'null'
          description: 'The researcher-defined field schema for this dataset. **V4 datasets only.**

            `null` if no schema has been set yet.'
        imports:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DatasetImportJob'
          description: Import jobs for this dataset, most recent first. **V4 datasets only.** `null` for V3 datasets.
        migration_job_id:
          type: string
          format: uuid
          description: 'The schema migration job started by this update. Present only when the

            dataset already had a schema (i.e. the schema was changed, not set for the

            first time). Use with `GET /datasets/{dataset_id}/schema-migrations/{job_id}`.'
      required:
      - id
      - name
      - created_at
      - created_by
      - workspace_id
      - total_datapoint_count
      - schema_version
      description: 'An AI Task Builder dataset. The shape of the response varies by `schema_version`:


        - **V3 datasets** include `status`, `filename`, and `has_predetermined_grouping_id`.

        - **V4 datasets** include `schema` (the researcher-defined field schema, or `null` if not yet set) and `imports` (the list of import jobs for this dataset). V4 datasets do not include `status` or `filename`.'
      title: AI Task Builder_UpdateTaskBuilderDataset_Response_200
    ApiV1DataCollectionCollectionsCollectionIdResponsesGetResponsesContentApplicationJsonSchemaMeta:
      type: object
      properties:
        count:
          type: integer
          description: Total number of responses
      title: ApiV1DataCollectionCollectionsCollectionIdResponsesGetResponsesContentApplicationJsonSchemaMeta
    AI Task Builder_GetTaskBuilderBatchReport_Response_200:
      type: object
      properties:
        url:
          type: string
          description: Presigned URL to download the CSV report
        expires_at:
          type: string
          format: date-time
          description: When the presigned URL expires
        http_method:
          $ref: '#/components/schemas/ApiV1DataCollectionBatchesBatchIdReportGetResponsesContentApplicationJsonSchemaHttpMethod'
          description: HTTP method to use with the presigned URL
      title: AI Task Builder_GetTaskBuilderBatchReport_Response_200
    ? ApiV1DataCollectionBatchesBatchIdInstructionsPutRequestBodyContentApplicationJsonSchemaInstructionsItemsUnitOptionsItemsValue
    : oneOf:
      - type: string
      - type: number
        format: double
      - type: boolean
      description: The value associated with the unit.
      title: ApiV1DataCollectionBatchesBatchIdInstructionsPutRequestBodyContentApplicationJsonSchemaInstructionsItemsUnitOptionsItemsValue
    AI Task Builder_getDatasetUploadUrl_Response_201:
      type: object
      properties:
        dataset_id:
          type: string
          format: uuid
          description: The ID of the dataset the upload URL was requested for.
        upload_url:
          type: string
          description: Presigned S3 URL. Make a PUT request to this URL with your file as the body.
        http_method:
          $ref: '#/components/schemas/ApiV1DataCollectionDatasetsDatasetIdUploadUrlFilenameGetResponsesContentApplicationJsonSchemaHttpMethod'
          description: HTTP method to use with the presigned URL.
        content_type:
          type: string
          description: 'The `Content-Type` header value to use when making the S3 PUT request.

            Use this value exactly — e.g. `application/x-ndjson` for JSONL files.'
        expires_at:
          type: string
          format: date-time
          description: When the presigned URL expires (ISO 8601, UTC). The URL cannot be used after this time.
        file_key:
          type: string
          description: The S3 object key for the uploaded file. Provided for reference only.
        import_id:
          type: string
          format: uuid
          description: Import job ID. **V4 datasets only.** Use with `GET /datasets/{dataset_id}/imports/{import_id}` to poll for upload and processing status.
      required:
      - dataset_id
      - upload_url
      - http_method
      - content_type
      - expires_at
      title: AI Task Builder_getDatasetUploadUrl_Response_201
    BatchExportComplete:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/BatchExportCompleteStatus'
        url:
          type: string
          format: uri
          description: Presigned HTTPS URL for downloading the ZIP archive. Valid for 1 hour. Re-poll to get a refreshed URL if expired.
        expires_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp indicating when the presigned URL expires.
      required:
      - status
      - url
      - expires_at
      description: An export job that has completed successfully. The ZIP archive is ready to download.
      title: BatchExportComplete
    CollectionInstructionInputType:
      type: string
      enum:
      - multiple_choice
      - free_text
      - free_text_with_unit
      - multiple_choice_with_free_text
      - file_upload
      title: CollectionInstructionInputType
    CollectionInstructionInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Include to preserve an existing instruction when updating
        type:
          $ref: '#/components/schemas/CollectionInstructionInputType'
        description:
          type: string
          description: The question or prompt displayed to participants
        order:
          type: integer
          description: Position of this instruction relative to others
        helper_text:
          type: string
          description: Additional guidance text displayed below the question
        placeholder_text_input:
          type: string
          description: Placeholder text displayed in the input field
        answer_limit:
          type: integer
          description: Number of options that can be selected. Use 1 for single-select, -1 for unlimited.
        disable_dropdown:
          type: boolean
          default: false
          description: When true, always renders checkbox/radio elements instead of a dropdown select.
        options:
          type: array
          items:
            $ref: '#/components/schemas/CollectionInstructionInputOptionsItems'
        unit_options:
          type: array
          items:
            $ref: '#/components/schemas/CollectionInstructionInputUnitOptionsItems'
          description: Required for free_text_with_unit. List of available units that participants can select from.
        default_unit:
          type: string
          description: For free_text_with_unit. Default selected unit (must match a value from unit_options).
        unit_position:
          $ref: '#/components/schemas/CollectionInstructionInputUnitPosition'
          description: Required for free_text_with_unit. Position of the unit selector relative to the text input.
        validation:
          $ref: '#/components/schemas/ValidationRule'
          description: Optional validation constraints for the input value (for free_text).
      required:
      - type
      - description
      - order
      description: Instruction input for a collection page
      title: CollectionInstructionInput
    DatasetImportJobStatus:
      type: string
      enum:
      - uninitialised
      - queued
      - processing
      - complete
      - partial
      - failed
      - pending_schema
      description: Current status of the import job.
      title: DatasetImportJobStatus
    BatchItemsDatasetFieldRefType:
      type: string
      enum:
      - dataset_field
      title: BatchItemsDatasetFieldRefType
    BatchExportStatus0:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/BatchExportStatusOneOf0Status'
        export_id:
          type: string
          format: uuid
[...]
